In [2]:
import pandas as pd

In [6]:
bolo = pd.read_csv('bolo.csv',';')
bolo.describe()

            preco
count  865.000000
mean    16.321803
std     18.313155
min      0.690000
25%      4.890000
50%     12.940000
75%     21.900000
max    220.000000